<div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngIf="prevAnswered.length < quizzes.length+1">
        <p class="text-center">{{ prevAnswered.length }} of {{ quizzes.length }}</p>
        <h3>{{ quizzes[currentQuiz].question }}</h3>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <div class="answers">
                <ul class="answers__list" *ngFor="let quiz of quizzes[currentQuiz].answer">
                  <label>
                    <li @answer class="answers__item" appBackground [correctAnswer]="quiz.correct">
                      <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
                      {{ quiz.option }}
                    </li>
                  </label>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div *ngIf="prevAnswered.length > this.quizzes.length">
        <button class="btn" (click)="showResult()" *ngIf="resultStatus === 'Show Result'">{{ resultStatus }}</button>
        <button class="btn btn--new" (click)="playAgain()" *ngIf="resultStatus !== 'Show Result'">{{ resultStatus
          }}</button>
        <div *ngIf="result">
          Jawaban Benar: {{ correctAnswers }} | Jawaban Salah: {{ incorrectAnswers }}
        </div>
      </div>
    </div>
  </div>
</div>